<h4>Results</h4>

<<<<<<< HEAD
<%= RequestsController.analyze(params[:q]).upcase %>
<<<<<<< HEAD
=======
<% if RequestsController.analyze(params[:q]) == "negative" %>
  <h3>Negative Nancy</h3>
<% else %>
  <h3>Positive Paula</h3>
<% end %>
>>>>>>> parent of de99fdf... Updated positive/negative results display to include neutral.
=======
>>>>>>> 4be7fd9bfa4fa7c384f324e8dabc9e489476448b

<p>Analyzed Text: "<%= params[:q] %>"</p>
