<h4>Results</h4>

<% RequestsController.analyze(params[:q]).each do |tweet| %>
  <% if tweet["text"][0..1] != "RT" %>
    <p><%= tweet["text"] %></p><br>
  <% end %>
<% end %>

<p>Analyzed Text: "<%= params[:q] %>"</p>
