<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fathom</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>

  <body>
    <style>
      .bg-1 {
          background-color: #1abc9c; /* Green */
          color: #ffffff;
      }
      .bg-2 {
          background-color: #474e5d; /* Dark Blue */
          color: #ffffff;
      }
      .bg-3 {
          background-color: #ffffff; /* White */
          color: #555555;
      }

      .container-fluid {
          padding-top: 50px;
          padding-bottom: 50px;
      }

      .navbar {
          padding-top: 15px;
          padding-bottom: 15px;
          border: 0;
          border-radius: 0;
          margin-bottom: 0;
          font-size: 12px;
          letter-spacing: 5px;
      }

      .navbar-nav li a:hover {
          color: #1abc9c !important;
      }

      .bg-4 {
          background-color: #2f2f2f;
          color: #ffffff;
      }

      body {
          font: 20px "Montserrat", sans-serif;
          line-height: 1.8;
          color: #f5f6f7;
      }

      .input {
        color: black;
        display: inline;
      }

      table, th, td {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        border-color: white;
      }

      p {font-size: 16px;}

      .btn {
        font-size: 18px;
        color: #1abc9c;
        filter: brightness(5%);
      }

      .btn:hover {
        filter: invert(100%);
      }

      .handle {
        font-size: 26px;
        display: inline;
      }

      .table {
        width: 650px;
      }

      th {
        font-size: 32px;
      }

      .cloud {
        border-radius: 30px;
      }
    </style>


    <div class="container-fluid bg-1 text-center">
      <div class="yield"><%= yield %></div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <footer class="container-fluid bg-4 text-center">
        <p></p>
      </footer>
    </div>


  </body>
</html>
